{
  "presets": [
    "es2015",
    "next/babel"
  ],
  "plugins": [
    [
      "transform-define",
      "./src/feConfig.js"
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "provide-modules",
      {
        "react": {
          "default": "React",
          "destructured": [
            "PropTypes",
            {
              "cloneElement": "clone"
            }
          ],
        }
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src"
      }
    ],
  ]
}